*{
    margin: 0;
    padding: 0;
}
body {
    
    
    background: linear-gradient(to right, #ff00cc, #333399);
}
h1{
    color: white;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
letter-spacing: 7px;
text-shadow: 1px 2px black;



}
h1{
    animation-name: slide-bck-center;
    animation-duration: 3s;

}
@keyframes slide-bck-center{0%{transform:translateZ(0)}100%{transform:translateZ(-400px)}}

.gallery{
    float: left;
    width: 26%;
    margin: 8px;
    border: 2px solid white;
    
}
.gallery:hover{
    border: 2px solid black;
    
}
img{
    width: 100%;
    height: auto;
    
}
main{
    margin-left: 80px;
}
div.des{
    animation-name: changecolor;
    animation-duration: 2s;
    animation-iteration-count: 500;
}
@keyframes changecolor{
    0%{
        background-color:#17d5dab0 ;
    }
    25%{
        background-color: white;
    }
    50%{
        background-color: yellow;
    }
    75%{
        background-color: tomato;
    }
    100%{
        background-color: red;
    }
}



    


.des{
    padding: 15px;
    text-align: center;
    background-color:#17d5dab0;
    
    
    
    font-size: 12px;
    
    



}
a{
    color: black;
font-family: cursive;
}
img:hover{
    transform:scale(1.1,1.1);
    transition: .3s transform;
}





